
@{
    ViewBag.Title = "Index";
}
<style>
    h2{
        background-color:violet;
        color:black;
        align-self:center;
        align-content:center;
        align-items:center;
        vertical-align:central;
    }
</style>
<h2>Welcome to Ori Kopel and Shlomo Rabinovich project</h2>
