<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ori And Shlomo</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        #bg {
            background-image: url("../../../Content/map.png");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        #mydiv {
            background-color: white;
            right: 0px;
            bottom: 0px;
            position: fixed;
        }


        #param {
            float:left;
            font-size: 12px;
            font-family: Arial;
            font-weight: bold;
            border: 3px solid #ff0000;
        }

        #screen {

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: solid #ff0000;
            border-width: 3px;
        }

        #myCanvas {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: solid #00ff21;
            border-width: 3px;
            width: 100%;
            height: 100%;
        }
    
    </style>
</head>
<body id="bg">
    <div id="screen"></div>
    <canvas id="myCanvas" width="300" height="150" ></canvas>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script id="getXml">
        function get(xml) {
            var xmlDoc = $.parseXML(xml),
                $xml = $(xmlDoc),
                Lats = $xml.find("lat").text();
            Lons = $xml.find("lon").text();
            thr = $xml.find("throttle").text();
            rad = $xml.find("rudder").text();
           
            Lat = (Lats % 150)+150;
            Lon = (Lons % (75))+75;
            $("#latt").text("lat:" + Lats);
            $("#lonn").text("lon:" + Lons);
            $("#thr").text("throttle:" + thr);
            $("#rudder").text("rudder:" + rad);
            drawPlane(Lat, Lon);
        }
    </script>

    <script>
        var old_x = -1;
        var old_y = 0;
        function drawPlane(x, y) {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            if (old_x != -1) {//first arg
                ctx.moveTo(old_x, old_y);
                ctx.lineTo(x, y);
                ctx.stroke();
            }
            old_y = y;
            old_x = x;
            ctx.beginPath();
            ctx.arc(x, y, 1, 0, 2 * Math.PI);
            ctx.fillStyle = "red";
            ctx.fill();
        }

    </script>
    <div id="param">
        <p type="text" id="latt"></p>
        <p type="text" id="lonn"></p>
        <p type="text" id="thr"></p>
        <p type="text" id="rudder"></p>
    </div>
    @RenderBody()




    <div id="mydiv">
        <a href="http://localhost:26111/">HOME</a>
        <a href="http://localhost:26111/display/127.0.0.1/5400/1">show Locations</a>
        <a href="http://localhost:26111/display/127.0.0.1/5400">show one Location</a>
        <a href="http://localhost:26111/save/127.0.0.1/5400/1/20/myFile">save </a>
        <a href="http://localhost:26111/display/myFile/1">play</a>
    </div>

</body>
</html>